.dashboard-page {
  padding: 2rem;
  background: #f8fafc;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.dashboard-header {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
  color: #0f172a;
}

/* === TOP STATS CARDS === */
.top-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.top-card {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.top-card h3 {
  font-size: 1rem;
  color: #334155;
  margin-bottom: 4px;
}

.top-card p {
  font-weight: 700;
  color: #0f172a;
  font-size: 1.2rem;
}

.icon {
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 10px;
  color: white;
}

.icon.user { background:  #bbd9e7;}
.icon.calendar { background: #f19daa;}
.icon.video { background: #efd19f;}
.icon.like { background: #c2edd2;}

/* === CHART + REPORTS === */
.dashboard-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.chart-box, .stats-box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1.5rem;
}

.chart-box h2, .stats-box h2 {
  font-size: 1.2rem;
  color: #0f172a;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

/* === RIGHT STATS CARDS === */
.report-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.report-card {
  border-radius: 10px;
  padding: 1rem;
  color: white;
  text-align: center;
  font-weight: 600;
}

.report-card h4 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.report-card p {
  font-size: 1.1rem;
}


.report-card.sales { background:  #c2edd2;}
.report-card.orders { background: #bbd9e7;}
.report-card.users { background: #efd19f;}
.report-card.income { background: #f19daa;}

.no-data {
  color: #6b7280;
  text-align: center;
  margin-top: 1rem;
}

/* === RESPONSIVE === */
@media (max-width: 900px) {
  .dashboard-content {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .report-cards {
    grid-template-columns: 1fr;
        width: 100%;

  }
}
